<nav class="sidebar d-flex flex-column">
    <div class="logos text-center">
        <img src="../../../assets/images/indi-logo.png" alt="Indi Logo">
    </div>
    <div class=" logos text-center">
        <img src="../../../assets/images/search.png" alt="Indi Logo">
        <button class="btn-search" (click)="search()"></button>
    </div>
    <div class="logos text-center">
        <img src="../../../assets/images/movies.png" alt="Indi Logo">
    </div>
    <div class="logos text-center">
        <img src="../../../assets/images/favorites.png" alt="Indi Logo">
    </div>
    <div class="logos text-center">
        <img src="../../../assets/images/profile.png" alt="Indi Logo">
    </div>
</nav>
